/* main-slider */
.main-slider .swiper-container {
    width: 100%;
    height: 100%;
}
.main-slider .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.main-slider .swiper-slide img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    -o-object-fit: cover;
    filter: brightness(0.8);
}

.main-slider .swiper-button-prev {
    top: 560px;
    background-image: url(/images/icons/arrowl.png);
    width: 50px;
    background-size: 50px 25px;
    left: auto;
    right: 135px;
}

.main-slider .swiper-button-next {
    top: 560px;
    background-image: url(/images/icons/arrowr.png);
    width: 50px;
    background-size: 50px 25px;
}

.main-slider .swiper-pagination {
    font-family: "Fontfabric-MullerBold";
    top: 540px;
    left: auto;
    right: 65px;
    width: 65px;
    height: 44px;
    bottom: auto;
    font-size: 20px;
    line-height: 44px;
}

.main-slider .slide-text {
    width: 100%;
    position: absolute !important;
    z-index: 5;
    top: 0;
}

.main-slider .text {
    max-width: 1080px;
    margin: 0 auto;
    padding: 200px 10px;
}

.main-slider .text > b{
    display: inline-block;
    padding: 0 0 10px 0;
    font-family: "Fontfabric-MullerBlack";
    font-weight: bold;
    font-size: 80px;
    color: #FFFFFF;
}

.main-slider .text > p{
    padding: 0 0 10px 0;
    font-family: "Fontfabric-MullerBlack";
    font-weight: bold;
    font-size: 60px;
    color: #FFFFFF;
}

.main-slider .text > a{
    display: inline-block;
    width: 170px;
    height: 40px;
    padding: 14px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.main-slider .text > a img{
    width: 10px;
    height: 12px;
    margin: 0 0 0 5px;
}

.main-slider .text > a:hover{
    background-position: 0 0;
}
/* main-slider end */

/* new-slider */
.content-new {
    max-width: 1080px;
    min-height: 550px;
    margin: 30px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new {
    width: 49%;
}

.new .title {
    width: 100%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new .title p{
    width: auto;
    margin: 0;
    font-size: 40px;
    color: #333333;
}

.new .title a{
    width: 150px;
    height: 40px;
    margin: 0;
    padding: 14px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.new .title a img{
    width: 10px;
    height: 12px;
    margin: 0 0 0 5px;
}

.new .title a:hover{
    background-position: 0 0;
}

.new .text {
    width: 100%;
}

.new .text p{
    padding: 0 0 20px 3px;
    font-size: 20px;
    line-height: 35px;
}

.new-slider {
    width: 49%;
    position: relative;
}

.new-slider .swiper-container {
    position: absolute;
    width: 1400px;
    height: 100%;
    padding: 5px 0 0 5px;
}

.new-slider .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: start;
}

.new-slider .swiper-button {
    width: 100%;
    margin: 0 0 10px 0;
    -webkit-user-select: none;
}

.new-slider .swiper-button img{
    height: 20px;
    vertical-align: middle;
}

.new-slider .swiper-button button{
    cursor: pointer;
    border: none;
    background: #D8DEE1;
    width: 50px;
    height: 25px;
    margin: 0 5px;
}

.new-slider .swiper-button button:hover{
    background: #FAB932;
}

.new-slider .swiper-button-next, .new-slider .swiper-button-prev {
    position: inherit;
}

.card {
    position: relative;
    width: 100%;
    height: 500px;
    margin: 0 0 20px 0;
}

.card:hover img{
    cursor: pointer;
    height: 530px;
    /*-webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);*/
}

.card:hover .card-text {
    height: 150px;
}

.card:hover .card-text p{
    transition: all 1s;
    color: #000000;
}

.card-img{
    width: 100%;
    height: 500px;
    margin: auto;
    overflow: hidden;
    -webkit-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.2);
}

.card-img a{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 1;
}

.card-img img{
    width: 100%;
    height: 500px;
    transition: all 1s;
    object-fit: cover;
    -o-object-fit: cover;
}

.card-price {
    position: absolute;
    z-index: 5;
    width: 130px;
    height: 40px;
    top: 10px;
    left: 10px;
    margin: 0 !important;
    padding: 0 5px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    display: none;
}

.card-price p{
    width: 100%;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}

.card-price span:nth-child(2){
    display: none;
}

.card-favorites {
    position: absolute;
    z-index: 5;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    background: none;
    border-radius: 20px;
    border: 10px;
}

.card-favorites button{
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 40px;
    height: 40px;
    top: 0;
    right: 0;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
    font-size: 18px;
    color: #FFFFFF;

}


.card-favorites button.new-on{
    background: #F9C33C url(/images/icons/favorite-producton.png) no-repeat center;
}

.card-favorites button.new-off{
    background: #F30330 url(/images/icons/favorite-productoff.png) no-repeat center;
}

.card-text {
    position: absolute;
    z-index: 5;
    width: 100%;
    height: 100px;
    padding: 20px;
    margin: auto;
    bottom: 0;
    background: rgba(255, 255, 255, 0.7);
    transition: all 1s;
    overflow: hidden;
    -webkit-backdrop-filter: saturate(180%) blur(20px) !important;
}

.card-text a{
    width: 100%;
    height: 50px;
    font-size: 18px;
    line-height: 25px;
}

.card-text a:hover{
    text-decoration: none;
}

.card-text p{
    width: 100%;
    height: 50px;
    overflow: hidden;
    margin: 10px 0;
    font-size: 16px;
    line-height: 25px;
    color: #000;
    transition: all 1s;
}

.card-link {
    position: absolute;
    z-index: 10;
    width: 200px;
    height: 40px;
    left: 0;
    right: 0;
    bottom: -20px;
    margin: 0 auto;
}

.card-link a{
    display: inline-block;
    width: 200px;
    height: 40px;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.card-link a:hover{
    background-position: 0 0;
}
/* new-slider end*/

/* cooperation */
.content-cooperation {
    width: 100%;
    height: 550px;
    margin: auto auto 50px auto;
    position: relative;
    overflow: hidden;
    background: url(/video/fon.png) no-repeat center;
    background-size: cover;
}

.content-cooperation video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    -o-object-fit: cover;
    -moz-filter: brightness(0.3);
    -ms-filter: brightness(0.3);
    -webkit-filter: brightness(0.3);
    -o-filter: brightness(0.3);
    filter: brightness(0.3);
}

.coop-box {
    position: relative;
    max-width: 1080px;
    height: 550px;
    margin: 0 auto;
}

.coop-box .coop-block{
    position: absolute;
    right: 0;
    z-index: 10;
    max-width: 520px;
    height: 100%;
    padding: 30px 10px 30px 50px;
    display: flex;
    flex-direction: column;
}

.coop-box .coop-title {
    width: 100%;
}

.coop-box .coop-title p{
    position: relative;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
}

.coop-box .coop-title p:before{
    content: "";
    position: absolute;
    top: 15px;
    left: -40px;
    width: 25px;
    height: 5px;
    background: #FFFFFF;
}

.coop-box .coop-text {
    width: 100%;
    margin: 15px auto;
}

.coop-box .coop-text p{
    width: 100%;
    margin: auto;
    font-size: 20px;
    line-height: 35px;
    color: #FFFFFF;
}

.coop-box .coop-text a{
    text-decoration: none;
    color: #F64733;
}

.coop-link a{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 17px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.coop-link a img{
    width: 25px;
    margin: 0 5px 0 0;
    vertical-align: text-bottom;
}

.coop-link a:hover{
    background-position: 0 0;
}
/* cooperation end */

/* production */
.content-production {
    width: 100%;
    margin: auto;
}

.prod-box {
    max-width: 1080px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.prod-box .prod-title {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.prod-box .prod-title div {
    width: 50%;
    min-width: 320px;
    padding: 0 10px;
    text-align: right;
    text-transform: uppercase;
}

.prod-box .prod-title div p{
    font-size: 25px;
    padding: 0 0 8px 0;
}

.prod-box .prod-title div b{
    font-family: "Fontfabric-MullerBold", sans-serif;
    font-size: 35px;
}

.prod-box .prod-title a{
    display: block;
    width: 200px;
    height: 60px;
    margin: 0 0 0 auto;
    padding: 18px 0;
    border: 5px solid #D8DEE1;
    border-radius: 50px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.prod-box .prod-title a img{
    width: 10px;
    height: 12px;
    margin: 0 0 0 5px;
}

.prod-box .prod-title a:hover{
    background-position: 0 0;
}

.prod-box .prod-icons {
    width: 100%;
    margin: 30px auto 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.prod-icon {
    width: 150px;
    margin: 0 auto 20px auto;
}

.prod-icon p{
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
}

.prod-icon img{
    display: block;
    margin: auto auto 20px auto;
}

.icon-a img{
    animation: icon-a 3s ease-in-out 0s infinite;
    -webkit-animation: icon-a 3s ease-in-out 0s infinite;
    -moz-animation: icon-a 3s ease-in-out 0s infinite;
}

@keyframes icon-a {
    0%, 10%, 20%, 100% {transform: translateY(0);}
    5% {transform: translateY(-8px);}
    15% {transform: translateY(-3px);}
}

@-webkit-keyframes icon-a {
    0%, 10%, 20%, 100% {transform: translateY(0);}
    5% {transform: translateY(-8px);}
    15% {transform: translateY(-3px);}
}

@-o-keyframes icon-a {
    0%, 10%, 20%, 100% {transform: translateY(0);}
    5% {transform: translateY(-8px);}
    15% {transform: translateY(-3px);}
}

.icon-b img{
    animation: icon-b 3s ease-in-out 0s infinite;
    -webkit-animation: icon-b 3s ease-in-out 0s infinite;
    -moz-animation: icon-b 3s ease-in-out 0s infinite;
}

@keyframes icon-b {
    20%, 30%, 40%, 100% {transform: translateY(0);}
    25% {transform: translateY(-8px);}
    35% {transform: translateY(-3px);}
}

@-webkit-keyframes icon-b {
    20%, 30%, 40%, 100% {transform: translateY(0);}
    25% {transform: translateY(-8px);}
    35% {transform: translateY(-3px);}
}

@-o-keyframes icon-b {
    20%, 30%, 40%, 100% {transform: translateY(0);}
    25% {transform: translateY(-8px);}
    35% {transform: translateY(-3px);}
}

.icon-c img{
    animation: icon-c 3s ease-in-out 0s infinite;
    -webkit-animation: icon-c 3s ease-in-out 0s infinite;
    -moz-animation: icon-c 3s ease-in-out 0s infinite;
}

@keyframes icon-c {
    40%, 50%, 60%, 100% {transform: translateY(0);}
    45% {transform: translateY(-8px);}
    55% {transform: translateY(-3px);}
}

@-webkit-keyframes icon-c {
    40%, 50%, 60%, 100% {transform: translateY(0);}
    45% {transform: translateY(-8px);}
    55% {transform: translateY(-3px);}
}

@-o-keyframes icon-c {
    40%, 50%, 60%, 100% {transform: translateY(0);}
    45% {transform: translateY(-8px);}
    55% {transform: translateY(-3px);}
}

.icon-d img{
    animation: icon-d 3s ease-in-out 0s infinite;
    -webkit-animation: icon-d 3s ease-in-out 0s infinite;
    -moz-animation: icon-d 3s ease-in-out 0s infinite;
}

@keyframes icon-d {
    60%, 70%, 80%, 100% {transform: translateY(0);}
    65% {transform: translateY(-8px);}
    75% {transform: translateY(-3px);}
}

@-webkit-keyframes icon-d {
    60%, 70%, 80%, 100% {transform: translateY(0);}
    65% {transform: translateY(-8px);}
    75% {transform: translateY(-3px);}
}

@-o-keyframes icon-d {
    60%, 70%, 80%, 100% {transform: translateY(0);}
    65% {transform: translateY(-8px);}
    75% {transform: translateY(-3px);}
}

.icon-e img{
    animation: icon-e 3s ease-in-out 0s infinite;
    -webkit-animation: icon-e 3s ease-in-out 0s infinite;
    -moz-animation: icon-e 3s ease-in-out 0s infinite;
}

@keyframes icon-e {
    80%, 90%, 100% {transform: translateY(0);}
    85% {transform: translateY(-8px);}
    95% {transform: translateY(-3px);}
}

@-webkit-keyframes icon-e {
    80%, 90%, 100% {transform: translateY(0);}
    85% {transform: translateY(-8px);}
    95% {transform: translateY(-3px);}
}

@-o-keyframes icon-e {
    80%, 90%, 100% {transform: translateY(0);}
    85% {transform: translateY(-8px);}
    95% {transform: translateY(-3px);}
}

.img-slider {
    width: 100%;
    height: 350px;
}

.img-slider .swiper-container {
    width: 100%;
    height: 300px;
}

.img-slider .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.no-js .img-slider .swiper-slide {
    width: 20%;
    margin-right: 1px;
}

@media (max-width: 900px) {
    .no-js .img-slider .swiper-slide {
        width: 25%;
    }
}

@media (max-width: 600px) {
    .no-js .img-slider .swiper-slide {
        width: 50%;
    }
}

@media (max-width: 500px) {
    .no-js .img-slider .swiper-slide {
        width: 100%;
        margin-right: 0;
    }
}

.img-slider .swiper-slide img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    -o-object-fit: cover;
}

.img-slider .swiper-button {
    width: 100%;
    text-align: center;
    -webkit-user-select: none;
}

.img-slider .swiper-button img{
    height: 20px;
    vertical-align: middle;
}

.img-slider .swiper-button button{
    cursor: pointer;
    border: none;
    background: #D8DEE1;
    width: 50px;
    height: 25px;
    margin: 10px 5px;
}

.img-slider .swiper-button button:hover{
    background: #FAB932;
}

.img-slider .swiper-button-next, .img-slider .swiper-button-prev {
    position: inherit;
}
/* production end */

/* registration */
.content-registration {
    width: 100%;
    margin: 30px auto 40px auto;
}

.reg-box {
    position: relative;
    max-width: 1080px;
    height: 450px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.reg-box .reg-img {
    width: 50%;
    height: 450px;
    overflow: hidden;
    margin: auto auto auto 0;
    background: url(/images/icons/reg.jpg) no-repeat center;
    background-position: 40% 20%;
}

.reg-box .reg-form {
    position: relative;
    z-index: 1;
    width: 50%;
    height: 450px;
    margin: auto 0 auto auto;
    padding: 35px 50px 35px 20px;
}

.reg-box .reg-form p{
    font-size: 25px;
    line-height: 40px;
}

.reg-box .reg-form b{
    color: #FF0016;
}

.reg-box .reg-form label{
    width: 100%;
    font-size: 16px;
}

.reg-box .reg-form input{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background: #FFFFFF;
    font-size: 16px;
    color: #333333;
}

.reg-box .reg-form button{
    display: block;
    cursor: pointer;
    width: 240px;
    height: 60px;
    margin: 5px auto;
    border: 5px solid #D8DEE1;
    border-radius: 50px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.reg-box .reg-form button:hover{
    background-position: 0 0;
}

.reg-border {
    position: absolute;
    top: 25px;
    bottom: 25px;
    left: 25px;
    right: 25px;
    border: 5px solid #FEC134;
}

.reg-box .price-min {
    background: #F8F8F6;
    border-radius: 5px;
    position: relative;
    width: 100%;
    margin: auto auto 10px auto;
    padding: 10px;
}

.reg-box .price-min:before{
    content: "";
    position: absolute;
    left: 5px;
    width: 25px;
    height: 25px;
    background: url(/images/icons/i.png) no-repeat center;
}

.reg-box .price-min p{
    margin: 2px 0 0 25px;
    font-size: 18px;
    line-height: 25px;
}

.reg-box .price-min b{
    white-space: pre;
    font-weight: bold;
    color: #FF0016;
}
/* registration end */

/* instagram */
.insta-slider-box {
    width: 100%;
    margin: 20px auto;
}

.insta-liner {
    width: 50%;
    border: 5px solid #D8DEE1;
    margin: auto auto 10px 0;
}

.insta-block {
    max-width: 1080px;
    margin: 0 auto;
}

.insta-text {
    max-width: 800px;
    margin: auto 0 20px auto;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.insta-text p{
    display: inline-block;
    position: relative;
    font-size: 32px;
    margin: 10px 0 0 40px;
}

.insta-text p:before{
    content: "";
    position: absolute;
    left: -40px;
    width: 25px;
    height: 25px;
    background: url(/images/icons/insta.png) no-repeat center;
    background-size: 100%;
}

.insta-text a{
    display: inline-block;
    width: 150px;
    height: 40px;
    margin: 5px auto auto auto;
    padding: 13px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.insta-text a img{
    width: 10px;
    height: 12px;
    margin: 0 0 0 5px;
}

.insta-text a:hover{
    background-position: 0 0;
}
/* instagram end */

/* media */
@media (max-width: 1000px) {
    .swiper-pagination { display: none;}
    .main-slider .swiper-button-next { display: none;}
    .main-slider .swiper-button-prev { display: none;}
    .main-slider .text {padding: 150px 0 100px 60px;}
}

@media (max-width: 820px) {
    .main-slider .text b{font-size: 60px;}
    .main-slider .text p{font-size: 40px;}
}

@media (max-width: 700px) {
    .content-new {flex-direction: column;}
    .new, .new-slider {width: 98%; margin: 0 auto;}
    .new-slider .swiper-button {text-align: center; margin: 15px auto;}
    .new-slider .swiper-container {position: unset; width: 100%; padding: 0;}
    .new-slider .slide-off {display: none;}
}

@media (max-width: 600px) {
    .main-slider .text b{font-size: 28px;}
    .main-slider .text p{font-size: 20px;}
    .coop-box .coop-title p{font-size: 30px;}
    .reg-box .reg-img {display: none;}
    .reg-box .reg-form {width: 100%; padding: 30px 40px;}
}

@media (max-width: 550px) {
    .coop-box .coop-title p{font-size: 30px;}
    .prod-box .prod-title {flex-direction: column;}
    .prod-box .prod-title div {width: 100%;}
    .prod-box .prod-title a {margin: 10px 10px 10px auto;}
}
/* media end */