@media(min-width: 1000px) {
    .slider .slide div{
       height: 100vh;
       position: relative;
    }
}

@media (max-width: 1000px) {
    .section {
        width: 100%;
    }

    .marker {
        width: 50%;
    }

    .header-info-index {
        width: 100%;
        height: 100px;
    }

    .header-index {
        height: 200px;
    }

    .header-user-index {
        width: 50px;
        left: 0;
        right: 0;
        top: 50px;
        flex-direction: column-reverse;
    }

    .header-user-index > div:nth-child(2), .header-user-index > div:nth-child(3), .header-user-index > div:nth-child(4) {
        width: 50px;
        background: #FFFFFF;
    }

    .header-user-index > div:nth-child(1) {
        display: none;
    }

    .header-user-index > div:nth-child(4) img{
        padding: 0;
    }

    .header-user-index > div:nth-child(4) span{
        display: none;
    }

    .header-user-index > div:nth-child(4) > .authorization {
        top: -50px;
        left: 50px;
    }

    .header-user-index > div:nth-child(4) > .exit {
        top: -50px;
        left: 50px;
    }

    .header-logo-index, .header-text-index {
        margin: 20px auto;
        height: 60px;
    }

    .header-info {
        width: 90%;
    }

    .header-user {
        left: 0;
        right: 0;
        top: 50px;
        flex-direction: column-reverse;
    }

    .header-user > div:nth-child(2){
        position: absolute;
        top: -50px;
        right: 0;
        width: 50px;
        background: #FFFFFF;
    }

    .header-user > div:nth-child(3){
        position: absolute;
        top: 0;
        right: 0;
        width: 50px;
        background: #FFFFFF;
    }

    .header-user > div:nth-child(4) {
        width: 50px;
        background: #FFFFFF;
    }

    .header-user > div:nth-child(1) {
        display: none;
    }

    .header-user > div:nth-child(4) img{
        padding: 0;
    }

    .header-user > div:nth-child(4) span{
        display: none;
    }

    .header-user > div:nth-child(4) > .authorization {
        top: -50px;
        left: 50px;
    }

    .header-user > div:nth-child(4) > .exit {
        top: -50px;
        left: 50px;
    }

    .header-logo, .header-text {
        margin: 20px auto;
        height: 60px;
    }

    .content-cooperation video{
        top: 0;
    }

    .search-box {
        display: flex;
        flex-direction: row;
    }

    .header-menu-right {
        display: flex;
    }

    .footer-top {
        flex-direction: row;
    }

    .footer-text {
        display: none;
    }

    .footer-menu {
        margin: 0 auto;
    }

    .footer-menu ul > li {
        width: 130px;
        margin: 0 0 0 20px;
    }

    .main-slider .slick-arrow{
        display:none !important;
    }

    .slider .slide div{
       height: 100vh;
       position: relative;
    }

    .count-slider{
        display: none;
    }

    .new-text {
        width: 95%;
        margin: auto;
    }

    .new-slider-box {
        position: static !important;
        width: 100%;
        margin: 0 auto;
    }

    .new-slider {
        position: static !important;
        width: 100% !important;
    }

    .new-slider .slick-list{
        width: 100%;
    }

    .new-box > div {
        margin: 25px auto;
    }

    .production-img {
        display: none;
    }

    .production-slider-box {
        display: block !important;
    }

    .information-img {
        display: none;
    }

    .information-slider-box {
        display: block !important;
    }

    .production-video iframe{
        margin: auto auto 20px auto;
    }

    .history p{
        text-align: center;
    }

    .history-box > div > .hidden {
        max-height: none;
    }

    .history-box > div{
        margin-left: calc(((100% / 2) - 300px) / 2);
        margin-right: calc(((100% / 2) - 300px) / 2);
    }

    .products-box {
        justify-content: space-between;
    }

    .products-box div:nth-child(2), .products-box div:nth-child(5), .products-box div:nth-child(8) {
        margin: 20px 0;
    }

    .products-box > div{
        width: 49%;
    }

    .collections-box {
        justify-content: space-between;
    }

    .collections-box div:nth-child(2), .collections-box div:nth-child(5), .collections-box div:nth-child(8) {
        margin: 20px 0;
    }

    .collections-box > div{
        width: 49%;
    }

    .filter a{
        margin-left: calc(((100% / 3) - 250px) / 2);
        margin-right: calc(((100% / 3) - 250px) / 2);
    }

    .basket-product > div:nth-child(1) {
        flex-direction: column;
    }

    .basket-product > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
    }

    .basket-product > div:nth-child(1) > div:nth-child(2) {
        width: 100%;
    }

    .basket-total div:nth-child(1) {
        margin: 0 auto 10px auto;
    }

    .basket-total div:nth-child(2) {
        margin: 0 auto 10px auto;
    }

    .basket-total div:nth-child(3) {
        margin: 0 auto auto auto;
    }

    .basket-order div:nth-child(1) {
        margin: 0 auto 10px auto;
    }

    .basket-order div:nth-child(2) {
        margin: 0 auto 10px auto;
    }
    
    .basket-order div:nth-child(3) {
        margin: 0 auto auto auto;
    }

    .slide-text div{
        padding: 130px 0 0 60px; 
    }

    .reg-box > div:nth-child(2) {
        padding: 60px 65px 75px 40px;
    }

    .production-index-slider a > div{
        background: rgba(0, 0, 0, 0) url(../images/icons/loop.png) no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
    }

    .information-slider-box .information-slider .slick-slide a > div{
        background: rgba(0, 0, 0, 0) url(../images/icons/loop.png) no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
    }

    .production-slider-box .production-slider .slick-slide a > div{
        background: rgba(0, 0, 0, 0) url(../images/icons/loop.png) no-repeat;
        background-position-x: 10px;
        background-position-y: 10px;
    }
}

@media (max-width: 840px){

}

@media (max-width: 820px) {
    .img-video img{
        display: block;
    }

    .img-video video{
        display: none;
    }

    .footer-logo {
        display: none;
    }

    .registration-box {
        margin: 0 0 50px 0;
    }

    .registration-form {
        width: 95%;
        margin: auto;
    }

    .registration-form button{
        margin: 20px auto;
    }

    .contacts-form {
        width: 95%;
        margin: auto;
    }

    .cooperation-form {
        width: 95%;
        margin: auto;
    }

    .registration-img {
        display: none;
    }
    
    .form-top {
        display: flex;
        flex-direction: column;
    }

    .form-top-left {
        width: 95%;
    }

    .form-top-right {
        width: 95%;
    }

    .info-box {
        margin: 0 auto;
        float: none;
    }

    .info {
        height: 0px;
        transition: all 1s;
    }

    .info-box button{
        display: block;
    }


    .filter-box {
        display: none;
    }

    .filter a {
        height: auto;
        margin-left: calc(((100% / 2) - 250px) / 2);
        margin-right: calc(((100% / 2) - 250px) / 2);
    }

    .filter a > span {
        display: none;
    }

    .basket-box {
        width: 95%;
    }

    .product-box {
        flex-direction: column;
    }

    .product-box > div:nth-child(1) {
        width: 100%;
    }

    .product-box > div:nth-child(2) {
        width: 100%;
    }

    .production-box > div:nth-child(1) {
        flex-direction: column;
    }

    .production-box div:nth-child(1) > div:nth-child(1) {
        width: 95%;
    }

    .production-box div:nth-child(1) > div:nth-child(2) {
        width: 95%;
    }

    .slide-text div > b{
        font-size: 60px;
        padding: 0 0 15px 0;
    }

    .slide-text div > p{
        font-size: 40px;
        padding: 0 0 15px 0;
    }

    .reg-box > div:nth-child(2) {
        padding: 50px 65px 75px 30px;
    }
}



@media (max-width: 640px) {
    .title button{
        border: none;
        background: none;
        width: auto;
        height: auto;
        margin: 10px 11px;
        text-align: left;
    }

    .title button:hover{
        border: none;
    }

    .section {
        width: 100%;
    }

    .header-info {
        width: 69%;
    }

    .header-info img{
        width: 80px;
        margin: 0 5px;
    }

    .header-info p {
        font-size: 14px;
        line-height: 20px;
    }

    .header-info-index p {
        line-height: 20px;
    }

    .header-info-index img{
        width: 100px;
        margin: 0 5px;
    }

    .footer-top {
        flex-direction: column;
    }

    .footer-phone {
        margin: 10px 0 0 0;
    }

    .footer-top-networks{
        position: absolute;
    }

    .footer-bot p {
        text-align: right;
        margin: auto 10px auto auto;
    }

    .delivery-box > div > div:nth-child(2) a > span{
        display: none;
    }

    .delivery-box > div > div:nth-child(2) a > img{
        display: block;
    }

    .history-box {
        flex-direction: column;
    }

    .history-box > div{
       margin: 10px auto;
    }

    .products-box {
        width: 98%;
        flex-direction: column;
    }

    .products-box > div{
        width: 100%;
        margin: 20px auto;
    }

    .collections-box {
        width: 98%;
        flex-direction: column;
    }

    .collections-box > div{
        width: 100%;
        margin: 20px auto;
    }

    .filter {
        flex-direction: column;
    }

    .filter a{
        margin: 5px auto;
        padding: 5px 0;
    }

    .sorting {
        width: 98%;
        flex-direction: column;
    }

    .text-cooperation div:nth-child(1) > p{
        font-size: 32px;
        line-height: 40px;
    }

    .text-cooperation div:nth-child(1) > p:before{
        top: 55px;
    }

    .text-cooperation div > div:nth-child(2) {
        margin: 40px auto;
    }

    .text-cooperation div:nth-child(2) p{
        line-height: 25px;
    }

    .basket-product {
        flex-direction: column;
    }

    .basket-product > div:nth-child(1) {
        width: 100%;
    }

    .basket-product > div:nth-child(2) {
        width: 100%;
        height: 50px;
    }

    .basket-product > div:nth-child(1) > div:nth-child(1) {
        flex-direction: column;
    }

    .basket-product > div:nth-child(1) > div:nth-child(2) {
        flex-direction: column;
    }

    .basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
        width: 100%;
    }

    .basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
        width: 100%;
    }

    .basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
        width: 100%; 
    }

    .basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
        width: 100%; 
    }

    .basket-total div {
        margin: auto;
    }

    .slide-text div > {
        padding: 165px 0 0 60px; 
    }

    .slide-text div > b{
        font-size: 35px;
    }

    .slide-text div > p{
        font-size: 25px;
    }

    .reg-box > div:nth-child(1) {
        display: none;
    }

    .reg-box > div:nth-child(2) {
        width: 100%;
        padding: 60px 80px;
    }
}

@media (max-width: 400px) {
    .no-authorization div:nth-child(2) {
        margin: auto auto auto 0;
    }

    .production-box div:nth-child(1) > div:nth-child(1) b{
        font-size: 35px;
    }

    .slide-text div > b{
        font-size: 25px;
        padding: 0 0 10px 0;
    }

    .slide-text div > p{
        font-size: 20px;
        padding: 0 0 10px 0;
    }

    .reg-box > div:nth-child(2) {
        width: 100%;
        padding: 40px;
    }

    .size-box {
        justify-content: center;
    }

    .size-block {
        width: 100%;
    }
}