@font-face {
    font-family: 'Fontfabric-MullerRegular';
    src: url('../fonts/Fontfabric-MullerRegular.otf');
}
@font-face {
    font-family: 'Fontfabric-MullerBlack';
    src: url('../fonts/Fontfabric-MullerBlack.otf');
}
@font-face {
    font-family: 'Fontfabric-MullerBold';
    src: url('../fonts/Fontfabric-MullerBold.otf');
}

html, body {
    width: 100%;
    min-width: 320px;
    height: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    font-family: 'Fontfabric-MullerRegular', sans-serif;
    color: #000000;
}

ol, ul {
    list-style: none;
}

:focus {
    outline: 0
}

/* dispay none*/
.d-none {
    display: none !important;
}
/* end */

/* up */
.scrollup {
    display: none;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    text-indent: -9999px;
    background: url(../images/icons/up.png) no-repeat;
    background-size: 50px;
}
/* up end */

/* type="number" */
.shest { 
  -moz-appearance: textfield;
}
.shest::-webkit-inner-spin-button { 
  display: none;
}
/* end */

/* display slide */
.slide{
    display: none;
}

.slide:first-child {
    display: block !important;
}
/* end */

/* breadcrumbs */
.breadcrumbs {
    width: 100%;
}

.breadcrumbs p{
    font-size: 18px;
    padding: 20px 10px;
    line-height: 30px;   
}

.breadcrumbs a{
    text-decoration: none;
}

.breadcrumbs a:hover{
    text-decoration: underline;  
}

.breadcrumbs-liner {
    width: 100%;
    height: 2px;
    margin: 0 auto;
    background: linear-gradient(to left, #F71E02, #FAAA01)
}
/* breadcrumbs */

/* title */
.title {
    width: 100%;
    margin: 10px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.title h1{
    width: auto;
    margin: 0;
    padding: 10px;
    font-size: 30px;
    color: #333333;
}

.title h2{
    width: auto;
    margin: 0;
    padding: 5px 10px;
    font-size: 25px;
    color: #333333;
}
/* title */

/* text */
.content-text {
    width: 100%;
    margin: 10px auto;
    padding: 0 10px;
}

.content-text p{
    padding: 0 0 20px 0;
    font-size: 20px;
    line-height: 30px;
}

.reg-info {
    width: 98%;
    border-radius: 10px;
    padding: 10px;
    background: #F0F0F0;
}

.reg-info p{
    padding: 5px 0;
}

.reg-info p:nth-child(1){
    font-weight: bold;
}

.reg-info span{
    white-space: pre;
    font-weight: bold;
    color: #FF0016;
}

.reg-info a{
    text-decoration: none;
    font-size: 25px;
    color: #FE9D44;
}

.reg-info a:hover{
    text-decoration: underline;
}
/* text */

/* showprice */
.showprice .card-price span:nth-child(1){
    display: none;
}

.showprice .card-price span:nth-child(2){
    display: inline-block;
}
/* showPrice end */










/* POPUP */

.popup-fon {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.popup-table {
    display: table;
    width: 100%;
    height: 100%;
}

.popup-cell {
    display: table-cell;
    vertical-align: middle;
}

.popup-score {
    display: none;
    position: relative;
    max-width: 500px;
    min-width: 320px;
    padding: 50px 20px;
    margin: auto;
    border-radius: 5px;
    background: #FFFFFF;
}

.popup-score p{
    width: 100%;
    margin: auto auto 20px auto;
    text-align: center;
    font-size: 25px;
}

.popup-score > form label{
    width: 100%;
    font-size: 16px;
}

.popup-score > form input{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background: #FFFFFF;
    font-size: 16px;
    color: #333333;
}

.popup-score > form button{
    display: block;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin: 20px auto auto auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s
}

.popup-score > form button:hover{
    background-position: 0 0;
}

.popup-card {
    display: none;
    position: relative;
    max-width: 500px;
    min-width: 320px;
    padding: 50px 20px;
    margin: auto;
    border-radius: 5px;
    background: #FFFFFF;
}

.popup-card p{
    width: 100%;
    margin: auto auto 20px auto;
    text-align: center;
    font-size: 25px;
}

.popup-card > form label{
    width: 100%;
    font-size: 16px;
}

.popup-card > form input{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background: #FFFFFF;
    font-size: 16px;
    color: #333333;
}

.popup-card > form p{
    width: 100%;
    margin: 20px auto;
    text-align: center;
    font-size: 14px;
    color: #797979;
}

.popup-card > form button{
    display: block;
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin: 20px auto auto auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s
}

.popup-card > form button:hover{
    background-position: 0 0;
}

.popup-thanks {
    display: none;
    position: relative;
    max-width: 500px;
    min-width: 320px;
    padding: 50px 20px;
    margin: auto;
    border-radius: 5px;
    background: #FFFFFF;
}

.popup-thanks > div:nth-child(2) p{
    width: 100%;
    margin: auto auto 20px auto;
    text-align: center;
    font-size: 25px;
}

.popup-thanks > div:nth-child(3) p{
    width: 100%;
    margin: auto auto 20px auto;
    text-align: center;
    font-size: 18px;
}

.popup-thanks iframe{
    width: 100%;
    height: 300px;
    border-radius: 5px;
    border: 5px solid #D8DEE1;
}

.popup-close {
    cursor: pointer;
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}
/* POPUP */

/* --- MENU --- */
.menu-popup {
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
    background: #F5F5F5;
    z-index: 100;
}

.button-box {
    max-width: 1080px;
    margin: 0 auto;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.search-menu {
    width: 80%;
    margin: auto 0 auto auto;
    display: flex;
    flex-direction: row;
}

.search-menu button{
    cursor: pointer;
    border: none;
    background: none;
    width: 25px;
    height: 25px;
    margin: auto 10px;
}

.search-menu input{
    width: 90%;
    margin: auto;
    border: none;
    background: none;
    border-bottom: 1px solid #D8DEE1;
    padding: 0 0 5px 0;
    font-size: 16px;
    color: #333333;
}

.menu-box {
    width: 100%;
    background: #FFFFFF;
}

.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1080px;
    margin: 0 auto;
    padding: 30px 0;
    align-content: space-between;
}

.section {
    width: 32%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.section ul {
    height: 360px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.section ul > li {
    width: 100%;
}

.section ul > li > a{
    display: block;
    width: 100%;
    padding: 10px;
    line-height: 25px;
    font-size: 18px;
    color: #333333;
}

.section ul > li:hover > a{
    text-decoration: none;
}

.section p{
    width: 100%;
    padding: 10px;
    font-size: 25px;
    color: #333333;
}

.marker ul > li{
    position: relative;
    width: 100%;
    padding: 0 0 0 25px;
}

.marker ul > li:before{
    position: absolute;
    left: 0;
    content: "\25c9";
    margin: 14px 10px;
    color: #FC982B;
}
/* --- MENU --- */

/* --- SCROLL --- */
.simplebar-scrollbar {
    opacity: 1 !important;
    background-color: #FC982B !important;
}
/* --- SCROLL --- */

/* COMMON */

/* content */
.content-site {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    flex: 1 0 auto;
}

.content {
    max-width: 1080px;
    margin: 0 auto;
}

.block-empty {
    display: none;
    width: 99%;
    margin: auto;
    border-radius: 5px;
    background: #F0F0F0;
}

.block-empty p{
    width: 100%;
    padding: 5px 20px;
    font-size: 20px;
    line-height: 50px;
    color: #b6b6b6;
}
/* content */


/* COMMON */

/* --- HEADER INDEX --- */

.header-box-index {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    z-index: 10;
    pointer-events: none;
}

.header-index {
    position: relative;
    max-width: 1080px;
    height: 100px;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.header-menu-index {
    display: flex;
    flex-direction: column;
    pointer-events: all;
}

.menu-on {
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: #FFFFFF url(../images/icons/menu.png) no-repeat center;
}

.menu-off {
    display: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: #F5F5F5 url(../images/icons/menuclose.png) no-repeat center;
}

.header-info-index {
    width: 45%;
    display: flex;
    flex-direction: row;
}

.header-info-index div{
    margin: auto;
}

.header-info-index p{
    font-size: 18px;
    line-height: 30px;
}

.header-user-index {
    position: absolute;
    top: 25px;
    right: 10px;
    display: flex;
    flex-direction: row;
    pointer-events: all;
}

.header-user-index > div:nth-child(1), .header-user-index > div:nth-child(2), .header-user-index > div:nth-child(3) {
    width: 50px;
    height: 50px;
}

.header-user-index > div:nth-child(1) {
    position :relative;
    animation: bounce 10s ease-in-out 0s infinite;
    -webkit-animation: bounce 10s ease-in-out 0s infinite;
    -moz-animation: bounce 10s ease-in-out 0s infinite;
}

@keyframes bounce {
    0%, 5%, 10%, 17%, 20%, 100% {transform: translateY(0);}
    2% {transform: translateY(-8px);}
    7% {transform: translateY(-5px);}
    12% {transform: translateY(-2px);}
}

@-webkit-keyframes bounce {
    0%, 5%, 10%, 17%, 20%, 100% {transform: translateY(0);}
    2% {transform: translateY(-8px);}
    7% {transform: translateY(-5px);}
    12% {transform: translateY(-2px);}
}

@-o-keyframes bounce {
    0%, 5%, 10%, 17%, 20%, 100% {transform: translateY(0);}
    2% {transform: translateY(-8px);}
    7% {transform: translateY(-5px);}
    12% {transform: translateY(-2px);}
}

.sub {
    position: absolute;
    overflow: hidden;
    width: 130px;
    height: 50px;
    top: 0;
    right: 40px;
    z-index: -1;
}

.sub div{
    position: absolute;
    width: 120px;
    height: 30px;
    padding: 5px;
    top: 10px;
    left: 0;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    animation: subscription 10s ease-in-out 0s infinite;
    -webkit-animation: subscription 10s ease-in-out 0s infinite;
    -moz-animation: subscription 10s ease-in-out 0s infinite;
}

.sub div a{
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    padding: 8px;
}

.sub div a:hover{
    text-decoration: underline;
}

@keyframes subscription {
    0%, 30%, 90%, 100% {opacity: 0; transform: translateX(130px);}
    35%, 85% {opacity: 1; transform: translateX(0);}
}

@-webkit-keyframes subscription {
    0%, 30%, 90%, 100% {opacity: 0; transform: translateX(130px);}
    35%, 85% {opacity: 1; transform: translateX(0);}
}

@-o-keyframes subscription {
    0%, 30%, 90%, 100% {opacity: 0; transform: translateX(130px);}
    35%, 85% {opacity: 1; transform: translateX(0);}
}

.favorites img{
    position :relative;
    animation: favo 3s ease-in-out 0s infinite;
    -webkit-animation: favo 3s ease-in-out 0s infinite;
    -moz-animation: favo 3s ease-in-out 0s infinite;
}

@keyframes favo {
    0% {transform: rotate(0);}
    2% {transform: rotateY(30deg);}
    4% {transform: rotateY(60deg);}
    6% {transform: rotateY(90deg);}
    8% {transform: rotateY(120deg);}
    10% {transform: rotateY(150deg);}
    12% {transform: rotateY(180deg);}
    14% {transform: rotateY(210deg);}
    16% {transform: rotateY(240deg);}
    18% {transform: rotateY(270deg);}
    20% {transform: rotateY(300deg);}
    22% {transform: rotateY(330deg);}
    24%, 100% {transform: rotateY(360deg);}
}

@-webkit-keyframes favo {
    0% {transform: rotate(0);}
    2% {transform: rotateY(30deg);}
    4% {transform: rotateY(60deg);}
    6% {transform: rotateY(90deg);}
    8% {transform: rotateY(120deg);}
    10% {transform: rotateY(150deg);}
    12% {transform: rotateY(180deg);}
    14% {transform: rotateY(210deg);}
    16% {transform: rotateY(240deg);}
    18% {transform: rotateY(270deg);}
    20% {transform: rotateY(300deg);}
    22% {transform: rotateY(330deg);}
    24%, 100% {transform: rotateY(360deg);}
}

@-o-keyframes favo {
    0% {transform: rotate(0);}
    2% {transform: rotateY(30deg);}
    4% {transform: rotateY(60deg);}
    6% {transform: rotateY(90deg);}
    8% {transform: rotateY(120deg);}
    10% {transform: rotateY(150deg);}
    12% {transform: rotateY(180deg);}
    14% {transform: rotateY(210deg);}
    16% {transform: rotateY(240deg);}
    18% {transform: rotateY(270deg);}
    20% {transform: rotateY(300deg);}
    22% {transform: rotateY(330deg);}
    24%, 100% {transform: rotateY(360deg);}
}

.header-user-index div:nth-child(4) {
    width: auto;
    height: 50px;
}

.header-user-index > div:nth-child(1) > a, .header-user-index > div:nth-child(2) > a, .header-user-index > div:nth-child(3) > a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    padding: 12.5px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

.header-user-index > div:nth-child(4) > button{
    cursor: pointer;
    border: none;
    background: none;
    width: auto;
    height: 50px;
    padding: 12.5px;
    font-size: 16px;
    line-height: 30px;
}

.header-user-index > div:nth-child(4) > .button-user{
    background: #FFFFFF;
}

.header-user-index > div:nth-child(4) > button:hover span{
    text-decoration: underline;
}

.header-user-index > div:nth-child(4) img{
    vertical-align: text-bottom;
}

.header-user-index > div:nth-child(2) span{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FF0000;
}

.header-user-index > div:nth-child(3) span{
    display: none;
}

.header-user-index > div:nth-child(4) span{
    display: inline-block;
    margin: auto auto auto 5px;
}

.header-user-index > div:nth-child(4) > .authorization {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 270px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.header-user-index > div:nth-child(4) > .authorization p{
    margin: auto auto 10px auto;
    font-size: 18px;
}

.header-user-index > div:nth-child(4) > .authorization div {
    width: 100%;
    height: 100%;
}

.header-user-index > div:nth-child(4) > .authorization div > span{
    cursor: pointer;
    width: 100%;
    margin: 5px 0 10px;
    font-size: 15px;
    text-align: center;
    color: #727272;
}

.header-user-index > div:nth-child(4) > .authorization div > span:hover{
    text-decoration: underline;
}

.header-user-index > div:nth-child(4) > .authorization div > input{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background: #FFFFFF;
    font-size: 16px;
    color: #333333;
}

.header-user-index > div:nth-child(4) > .authorization div > button{
    float: left;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto 0;
    padding: 12px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user-index > div:nth-child(4) > .authorization div > button:hover{
    background-position: 0 0;
}

.header-user-index > div:nth-child(4) > .authorization div > a{
    float: right;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

.header-user-index > div:nth-child(4) > .authorization div > a:hover{
    text-decoration: underline;
}

.header-user-index > div:nth-child(4) > .exit {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 270px;
    height: 100px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.header-user-index > div:nth-child(4) > .exit p{
    margin: auto auto 10px auto;
    font-size: 18px;
}

.header-user-index > div:nth-child(4) > .exit div {
    width: 100%;
    height: 100%;
}

.header-user-index > div:nth-child(4) > .exit div > button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: auto;
    padding: 9px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user-index > div:nth-child(4) > .exit div > button:hover{
    background-position: 0 0;
}

.header-user-index > div:nth-child(4) > .exit div > a{
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: auto auto 10px auto;
    padding: 9px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user-index > div:nth-child(4) > .exit div > a:hover{
    background-position: 0 0;
}
/* --- HEADER INDEX --- */

/* --- HEADER --- */
.header-box {
    width: 100%;
    margin: 0 auto;
    background: #FFFFFF url(../images/fon-menu.png) center;
}

.header {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: auto;
    height: 100px;
}

.header-menu {
    display: flex;
    flex-direction: column;
}

.header-info {
    width: 45%;
    display: flex;
    flex-direction: row;
}

.header-info div{
    margin: auto;
}

.header-info p {
    font-size: 18px;
    line-height: 30px;
}

.header-user {
    position: absolute;
    top: 25px;
    right: 10px;
    display: flex;
    flex-direction: row;
}

.header-user > div:nth-child(1), .header-user > div:nth-child(2), .header-user > div:nth-child(3) {
    width: 50px;
    height: 50px;
}

.header-user > div:nth-child(1) {
    position :relative;
    animation: bounce 10s ease-in-out 0s infinite;
    -webkit-animation: bounce 10s ease-in-out 0s infinite;
    -moz-animation: bounce 10s ease-in-out 0s infinite;
}

.header-user div:nth-child(4) {
    width: auto;
    height: 50px;
}

.header-user > div:nth-child(1) > a, .header-user > div:nth-child(2) > a, .header-user > div:nth-child(3) > a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    padding: 12.5px;
    font-size: 16px;
    line-height: 30px;
    text-decoration: none;
}

.header-user > div:nth-child(4) > button{
    cursor: pointer;
    border: none;
    background: none;
    width: auto;
    height: 50px;
    padding: 12.5px;
    font-size: 16px;
    line-height: 30px;
}

.header-user > div:nth-child(4) > .button-authorization{
    background: #FFFFFF;
}

.header-user > div:nth-child(4) > button:hover span{
    text-decoration: underline;
}

.header-user > div:nth-child(4) img{
    vertical-align: text-bottom;
}

.header-user > div:nth-child(2) span{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FF0000;
}

.header-user > div:nth-child(3) span{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    border-radius: 10px;
    text-decoration: none;
    color: #FFFFFF;
    background: #FEAB2F;
}

.header-user > div:nth-child(4) span{
    display: inline-block;
    margin: auto auto auto 5px;
}

.header-user > div:nth-child(4) > .authorization {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 270px;
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.header-user > div:nth-child(4) > .authorization p{
    margin: auto auto 10px auto;
    font-size: 18px;
}

.header-user > div:nth-child(4) > .authorization div {
    width: 100%;
    height: 100%;
}

.header-user > div:nth-child(4) > .authorization div > span{
    cursor: pointer;
    width: 100%;
    margin: 5px 0 10px;
    font-size: 15px;
    text-align: center;
    color: #727272;
}

.header-user > div:nth-child(4) > .authorization div > span:hover{
    text-decoration: underline;
}

.header-user > div:nth-child(4) > .authorization div > input{
    width: 100%;
    margin: 10px auto;
    padding: 0 0 5px 0;
    border: none;
    border-bottom: 1px solid #C1C1C1;
    background: #FFFFFF;
    font-size: 16px;
    color: #333333;
}

.header-user > div:nth-child(4) > .authorization div > button{
    float: left;
    cursor: pointer;
    width: 100px;
    height: 40px;
    margin: auto 0;
    padding: 12px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user > div:nth-child(4) > .authorization div > button:hover{
    background-position: 0 0;
}

.header-user > div:nth-child(4) > .authorization div > a{
    float: right;
    font-size: 16px;
    line-height: 40px;
    text-decoration: none;
}

.header-user > div:nth-child(4) > .authorization div > a:hover{
    text-decoration: underline;
}

.header-user > div:nth-child(4) > .exit {
    display: none;
    position: absolute;
    z-index: 10;
    right: 0;
    width: 270px;
    height: 100px;
    padding: 15px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
}

.header-user > div:nth-child(4) > .exit p{
    margin: auto auto 10px auto;
    font-size: 18px;
}

.header-user > div:nth-child(4) > .exit div {
    width: 100%;
    height: 100%;
}

.header-user > div:nth-child(4) > .exit div > button{
    cursor: pointer;
    width: 100px;
    height: 30px;
    margin: auto;
    padding: 9px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user > div:nth-child(4) > .exit div > button:hover{
    background-position: 0 0;
}

.header-user > div:nth-child(4) > .exit div > a{
    display: inline-block;
    width: 180px;
    height: 30px;
    margin: auto auto 10px auto;
    padding: 9px 0;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.header-user > div:nth-child(4) > .exit div > a:hover{
    background-position: 0 0;
}
/* --- HEADER --- */

/* --- FOOTER --- */
.footer {
    width: 100%;
    background: #282828;
    position: relative;
    flex: 0 0 auto;
}

.footer-top {
    display: flex;
    flex-direction: row;
    max-width: 1080px;
    margin: 0 auto;
    padding: 21px 0;
}

.footer-logo, .footer-text, .footer-menu, .footer-contacts {
    margin: auto;
}

.footer-text p {
    font-size: 18px;
    line-height: 30px;
    color: #FFFFFF;
}

.footer-menu ul {
    width: 300px;
}

.footer-menu ul > li {
    float: left;
    width: 150px;
}

.footer-menu ul > li > a {
    float: left;
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #FFFFFF;
}

.footer-menu ul > li:hover > a {
    text-decoration: none;
}

.footer-phone {
    width: 100%;
    margin: 0 0 30px 0;
}

.footer-phone p {
    font-family: "Fontfabric-MullerBold";
    font-size: 25px;
    color: #FFFFFF;
}

.footer-phone b {
    font-family: "Fontfabric-MullerBold";
    font-size: 18px;
    color: #BB0C37;
}

.footer-top-networks{
    width: auto;
    left: 0;
    bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.footer-top-networks button, .footer-bot-networks button{
    width: 25px;
    height: 25px;
    margin: 0 0 0 10px;
    cursor: pointer;
    border: none;
    background: none;
}

.footer-bot {
    width: 100%;
    padding: 15px 0;
    background: #3D3938;
}

.footer-bot p {
    text-align: center;
    font-size: 20px;
    color: #FFFFFF;
    margin: auto;
}
/* --- FOOTER --- */

/* PAGE */

/* REGISTRATION */

.registration {
    max-width: 1080px;
    margin: 0 auto;
}

.registration-box {
    width: 98%;
    margin: 0 10px 50px 10px;
    display: flex;
    flex-direction: row;
}

.registration-form {
    width: 60%;
    border-radius: 5px;
    background: #F0F0F0;
}

.registration-form form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.registration-form label{
    width: 100%;
    font-size: 16px;
}

.registration-form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background: #FFFFFF; 
    font-size: 16px;
    color: #333333;  
}

.input-error {
    border: 1px solid red !important;
}

.input-error-bottom {
    border-bottom: 1px solid red !important;
}

.registration-form button{
    cursor: pointer;
    width: 250px;
    height: 50px;
    margin: 20px 0 0 0;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.registration-form button:hover{
    background-position: 0 0;
} 

.registration-img {
    position: relative;
    overflow: hidden;
    width: 39%;
    border-radius: 5px;
    margin: 0 0 0 1%;
}

.registration-img video{
    position: absolute;
    height: 100%;
    z-index: -1;
    right: -50px;
}

.registration-img p{
    margin: 350px auto 0 auto;
    padding: 10px;
    font-family: "Fontfabric-MullerBold";
    font-size: 27px;
    line-height: 40px;
    color: #FFFFFF;
    background: rgba(0, 0, 0, 0.5);
}

/* REGISTRATION */

/* CONTACTS */

.contacts {
    max-width: 1080px;
    margin: 0 auto;
}

.contacts-map {
    width: 100%;
    height: 500px;
}

#map{
    width: 100%;
    position: absolute !important;
    height: 500px !important;
    width: 100%;
}

.map-info {
    max-width: 1080px;
    margin: 0 auto;
    position: relative;
    z-index: 10;
}

.map-info-box {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: auto;
    margin: 25px 0;
    padding: 10px;
    float: left;
    background: #FFFFFF;
}

.map-info-logo {
    height: 95px;
    padding: 0 0 10px 0;
    text-align: center;
}

.map-info {
    overflow: hidden;
    height: 195px;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.map-info b{
    font-family: "Fontfabric-MullerBold";
    font-size: 15px;
}

.map-info b > img{
    vertical-align: middle;
    margin: 0 5px 0 0;
}

.map-info p{
    font-size: 15px;
    line-height: 30px;
    padding: 0 30px;
}

.map-info-box button{
    display: none;
    cursor: pointer;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    padding: 14px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #FF3D47);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.contacts-box {
    max-width: 1080px;
    margin: 0 0 50px 0;
}

.contacts-box p{
    width: 100%;
    margin: 30px auto;
    text-align: center;
    font-size: 30px;
    color: #333333;
}

.contacts-form {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background: #F0F0F0;
}

.contacts-form form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.form-top {
    display: flex;
    flex-direction: row;
}

.form-top-left {
    width: 45%;
    margin: auto;
}

.form-top-right {
    width: 45%;
    margin: auto;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.contacts-form label{
    width: 100%;
    font-size: 16px;
}

.contacts-form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background: #FFFFFF; 
    font-size: 16px;
    color: #333333;  
}

.contacts-form textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    font-size: 16px;
    color: #333333;
    resize: none;
}

.contacts-form button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto 0 auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.contacts-form button:hover{
    background-position: 0 0;
}

/* CONTACTS */

/* COOPERATION */

.cooperation {
    max-width: 1080px;
    margin: 0 auto;
}

.cooperation-box {
    max-width: 1080px;
    margin: auto auto 50px auto;
}

.cooperation-box p{
    width: 100%;
    margin: 30px auto;
    
    text-align: center;
    font-size: 30px;
    color: #333333;
}

.cooperation-form {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background: #F0F0F0;
}

.cooperation-form form{
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.form-top {
    display: flex;
    flex-direction: row;
}

.form-top-left {
    width: 45%;
    margin: auto;
}

.form-top-right {
    width: 45%;
    margin: auto;
}

.form-bottom {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin: auto;
}

.cooperation-form label{
    width: 100%;
    font-size: 16px;
}

.cooperation-form input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background: #FFFFFF; 
    font-size: 16px;
    color: #333333;  
}

.cooperation-form textarea{
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px 20px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    font-size: 16px;
    color: #333333;
    resize: none;
}

.cooperation-form button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto 0 auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.cooperation-form button:hover{
    background-position: 0 0;
}

.cooperation-doc {
    max-width: 320px;
    margin: auto auto 50px auto;
    display: flex;
    flex-direction: row;
}

.cooperation-doc a{
    width: 150px;
    height: 200px;
    margin: auto;
    border: 5px solid #D8DEE1;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    line-height: 30px;
}

/* COOPERATION */

/* DELIVERY */

.delivery {
    max-width: 1080px;
    margin: 0 auto;
}

.delivery-box {
    width: 99%;
    margin: auto auto 50px auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #E4E3DF;
}

.delivery-box > div{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.delivery-box > div:first-child *{
    background: #E4E3DF;
}

.delivery-box > div:nth-child(odd){
    background: #F7F7F5;
}

.delivery-box p{
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}

.delivery-box > div > div:nth-child(1) {
    width: 70%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #E4E3DF;
}

.delivery-box > div > div:nth-child(1) img{
    margin: auto;
}

.delivery-box > div > div:nth-child(2) {
    width: 30%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.delivery-box > div > div:nth-child(2) a{
    display: block;
    width: 60%;
    height: 30px;
    margin: 10px auto;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 33px;
    color: #FFFFFF;
    background-size: auto 200%;
    background-position: 0 50%;
    transition: background-position 1s;
}

.delivery-box > div > div:nth-child(2) a:hover{
    background-position: 0 0;
}

.delivery-box > div > div:nth-child(2) a > img{
    display: none;
    padding: 5px 0;
    margin: auto;
}

/* DELIVERY */



/* CABINET */

.cabinet {
    max-width: 1080px;
    margin: 0 auto;
}

.history {
    display: none;
}

.history, .data, .bonus {
    width: 99%;
    margin: auto auto 50px auto;
}

.history, .data, .bonus {
    width: 99%;
    margin: auto auto 50px auto;
}

.history p{
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 25px;
    color: #333333;
}

.history-box {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.history-box > div{
    width: 300px;
    height: auto;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid #E4E3DF;
    overflow: hidden;
    margin-left: calc(((100% / 3) - 300px) / 2);
    margin-right: calc(((100% / 3) - 300px) / 2);
}

.history-box > div > div{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
}

.history-box div > div {
    position: relative;
    width: 100%;
    margin: auto;
    padding: 5px;
}

.history-box > div > div > div > p{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.history-box > div > div > .sum p{
    font-size: 20px;
    color: #FF0016;
}

.history-box > div > div > .status > p{
    font-size: 16px;
    text-transform: uppercase;
}

.history-box > div > div > .status {
    border-radius: 20px;
    text-align: center;
    padding: 10px;
}

.status-blue {
    border: 2px solid #0035D2;
}

.status-green {
    border: 2px solid #00B90E;
}

.status-blue p{
    color: #0035D2 !important;
}

.status-green p{
    color: #00B90E !important;
}

.history-box > div > .hidden {
    display: none;
    width: 100%;
    height: auto;
    max-height: 250px;
    overflow: auto;
    padding: 5px;
    flex-direction: column;
}

.history-box > div > .hidden > .order-info{
    width: 100%;
    margin: 10px auto;
    padding: 0;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
}

.history-box > div > .hidden > .order-info > div{
    display: flex;
    flex-direction: row;
}

.history-box > div > .hidden p{
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.history-box > div > .hidden a{
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    line-height: 20px;
    color: #682333;;
}

.history-box > div > .hidden a:hover{
    text-decoration: underline;
}

.history-box > div > div > button{
    position: absolute;
    cursor: pointer;
    border: none;
    background: none;
    width: 100%;
    height: 50px;
    padding: 0 10px 0 0;
    top: 0;
    left: 0;
    font-size: 20px;
    text-align: right;
    margin: auto 0 auto auto;
    z-index: 1;
}

.history-box > div > div > button img{
    width: 20px;
}

.history-box > div > div:nth-child(even){
    background: #FFFFFF;
}

.history-box > div > div:nth-child(odd){
    background: #F6F6F5;
}

.history-box > div > div:first-child {
    background: #E4E3DF;
}

.history-button {
    width: 100%;
    margin: auto;
    text-align: center;
}

.history-button button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto 0 auto;
    border: 2px solid #D7DFE5;
    border-radius: 25px;
    background: #D7DFE5;
    font-size: 18px;
}

.history-button button > img{
    vertical-align: middle;
    margin: 0 10px 0 0;
}

.history-button button:hover{
    border: 2px solid #F30330;
}

.data p{
    width: 100%;
    margin: 20px auto;
    padding: 0 10px;
    font-size: 25px;
    color: #333333;
}

.data-box {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: #F0F0F0;
}

.data-box form{
    padding: 5%;
}

.data-box p{
    width: 100%;
    margin: auto auto 20px auto;
    padding: 0 10px;
    font-size: 25px;
    color: #333333;
}

.cabinet-box {
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    height: 30px;
    text-align: left;
    font-size: 25px;
    color: #333333;
}

.cabinet-box img{
    width: 15px;
    margin: 0 5px 0 0;
}

.fiz-form {
    width: 100%;
    height: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.jur-form {
    width: 100%;
    height: 0;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.address-form {
    width: 100%;
    height: auto;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.show-block {
    height: auto;
}

.fiz-form div, .jur-form div, .address-form div{
    width: 300px;
    margin: 5px auto;
}

.data-box label{
    width: 100%;
    font-size: 16px;
}

.data-box input{
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
    background: #FFFFFF; 
    font-size: 16px;
    color: #333333;  
}

.data-button {
    width: 100%;
    margin: auto;
    text-align: center;
}

.data-button button{
    cursor: pointer;
    width: 200px;
    height: 50px;
    margin: 20px auto 0 auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    font-size: 16px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.data-button button:hover{
    background-position: 0 0;
}

.bonus > p:nth-child(1){
    width: 100%;
    margin: auto auto 20px auto;
    padding: 0 10px;
    
    font-size: 30px;
    color: #333333;
}

.bonus > p:nth-child(2), .bonus > p:nth-child(3){
    margin: auto auto 20px auto;
    padding: 0 12px;
    font-size: 16px;
    line-height: 20px;
}

.bonus > p:nth-child(2) span{
    font-size: 20px;
    color: #F9C33C;
}

.bonus > p:nth-child(3) span{
    font-size: 20px;
    color: #FF0016;
}
/* CABINET */




/* BASKET */

.basket {
    max-width: 1080px;
    margin: 0 auto;
}

.basket-empty {
    display: none;
    width: 99%;
    margin: auto;
    border-radius: 5px;
    background: #F0F0F0;
}

.basket-empty p{
    width: 100%;
    padding: 5px 20px;
    
    font-size: 20px;
    line-height: 50px;
    color: #b6b6b6;
}

.basket-container {
    display: none;
}

.basket-box {
    width: 99%;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.basket-box > div:nth-child(even){
    background: #F7F7F5;
}

.basket-product {
    width: 100%;
    margin: auto auto 20px auto;
    border: 1px solid #E4E3DF;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-product > div:nth-child(1) {
    width: 95%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-product > div:nth-child(1) > div:nth-child(1) {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) {
    width: 65%;
    padding: 10px;
    border: 1px solid #E4E3DF;
    display: flex; 
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div{
    width: 100%;
    overflow: hidden;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div img{
    width: 50px;
    height: 50px;
    margin: auto 10px auto 0;
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div p{
    font-size: 16px;
    line-height: 20px;
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div a{
    text-decoration: none;
    
    font-size: 16px;
    color: #682333; 
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(1) > div a:hover{
    text-decoration: underline; 
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) {
    width: 35%;
    padding: 10px;
    border: 1px solid #E4E3DF;
    display: flex; 
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) div{
    margin: auto; 
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) div p{
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
}

.basket-product > div:nth-child(1) > div:nth-child(1) > div:nth-child(2) div span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #FF0016; 
}

.basket-product > div:nth-child(1) > div:nth-child(2) {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) {
    width: 65%;
    padding: 10px;
    border: 1px solid #E4E3DF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div{
    width: 32%;
    height: 46px;
    padding: 5px 0;
    margin: 1% 0;
    border-radius: 10px;
    background: #f1f1f1;
    text-align: center;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div:nth-child(3n+2){
    margin: 1% 2%;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div p{
    width: 100%;
    
    text-align: center;
    font-size: 16px;
}

.basket-size-on {
    background: #F50037 !important;
}

.basket-size-on p{
    color: #FFFFFF;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div input{
    border: none;
    width: 30px;
    border-radius: 5px;
    height: 20px;
    padding: 2px 0 0 0;
    margin: 0 5px;
    text-align: center;
    font-size: 16px;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(1) > div button{
    cursor: pointer;
    background: #FFFFFF;
    border: 1px solid #E6E6E6;
    border-radius: 15px;
    padding: 2px;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 16px;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
    width: 35%;
    padding: 10px;
    border: 1px solid #E4E3DF;
    display: flex; 
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) div{
    margin: auto; 
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) div p{
    width: 100%;
    margin: 0 0 10px 0;
    text-align: center;
    font-size: 16px;
}

.basket-product > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) div span{
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #FF0016; 
}

.basket-product > div:nth-child(2) {
    width: 5%;
    border: 1px solid #E4E3DF;
}

.basket-product > div:nth-child(2) button{
    cursor: pointer;
    background: none;
    border: none;
    width: 100%;
    height: 100%;
    font-size: 20px;
}

.basket-total {
    width: 99%;
    margin: auto auto 50px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-total div:nth-child(1) {
    width: 300px;
    margin: auto auto auto 0;
}

.basket-total div:nth-child(1) p{
    font-size: 16px;
    line-height: 20px;
}

.basket-total div:nth-child(1) span{
    font-size: 20px;
    color: #FF0016;
}

.basket-total div:nth-child(2) {
    display: none;
    width: 300px;
    margin: auto;
}

.basket-total div:nth-child(2) button{
    cursor: pointer;
    width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 19px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    font-size: 14px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.basket-total div:nth-child(2) button:hover{
    background-position: 0 0;
}

.basket-total div:nth-child(3) {
    width: 300px;
    height: 50px;
    background: #E4E3DF;
    margin: auto 0 auto auto;
    display: flex;
}

.basket-total div:nth-child(3) p{
    text-align: center;
    font-size: 16px;
    margin: auto;
}

.basket-total div:nth-child(3) span{
    font-size: 20px;
    color: #FF0016;
}

.payment-box {
    width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.payment-box > div{
    display: flex;
    flex-direction: row;
}

.payment-box > p{
    margin: auto auto 20px auto;
    text-align: center;
    font-size: 24px;
    color: #F30330;
}

.payment-box > div > div:nth-child(1) {
    width: 100px;
    margin: 0 auto auto auto; 
}

.payment-box > div > div:nth-child(1) p{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
}

.payment-box > div > div:nth-child(1) button{
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: auto auto 10px auto;
    padding: 19px 0;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    background: #FFFFFF;
}

.payment-box > div > div:nth-child(1) button:hover{
    border: 2px solid #F9C33C;
    background: #F9C33C;
}

.payment-box > div > div:nth-child(2) {
    width: 100px;
    margin: 0 auto auto auto; 
}

.payment-box > div > div:nth-child(2) p{
    text-align: center;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 20px;
    margin: auto;
}

.payment-box > div > div:nth-child(2) button{
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: auto auto 10px auto;
    padding: 19px 0;
    border: 2px solid #C4C4C4;
    border-radius: 5px;
    background: #FFFFFF;
}

.payment-box > div > div:nth-child(2) button:hover{
    border: 2px solid #F9C33C;
    background: #F9C33C;
}

.payment-activ {
    border: 2px solid #F9C33C !important;
    background: #F9C33C !important;
}

.address-box {
    width: 99%;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border: 2px solid #E4E3DF;
    border-radius: 5px;
}

.address-box > p{
    margin: auto auto 10px auto;
    text-align: center;
    font-size: 18px;
    line-height: 25px;
}

.address-box button{
    cursor: pointer;
    width: 200px;
    height: 30px;
    margin: auto;
    padding: 9px 0;
    border: none;
    border-radius: 25px;
    background: linear-gradient(to bottom, #F9C33C, #ff7b00);
    font-size: 16px;
    color: #FFFFFF;
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.address-box button:hover{
    background-position: 0 0;
}

.basket-liner {
    width: 100%;
    margin: 20px auto;
    height: 2px;
    background: #DDDEE0;
}

.basket-order {
    width: 100%;
    margin: auto auto 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.basket-order div:nth-child(1) {
    width: 300px;
    margin: auto auto auto 0;
}

.basket-order div:nth-child(1) button{
    cursor: pointer;
    width: 300px;
    height: 50px;
    border: 2px solid #D7DFE5;
    border-radius: 25px;
    background: #D7DFE5;
    font-size: 18px;
}

.basket-order div:nth-child(1) button > img{
    vertical-align: baseline;
    margin: 0 10px 0 0;
}

.basket-order div:nth-child(1) button:hover{
    border: 2px solid #F30330;
}

.basket-order div:nth-child(2) {
    width: 300px;
    margin: auto 0 auto auto;
}

.basket-order div:nth-child(2) p{
    text-align: right;
    font-size: 12px;
    line-height: 20px;
}

.basket-order div:nth-child(2) a{
    
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: #FF0016;
}

.basket-order div:nth-child(2) a:hover{
    text-decoration: none;
}

.basket-order div:nth-child(3) {
    width: 300px;
    margin: auto 0 auto 10px;
}

.basket-order div:nth-child(3) button{
    border: none;
    width: 300px;
    height: 50px;
    border-radius: 25px;
    text-transform: uppercase;
    font-size: 18px;
}

.basket-order-off button{
    background: #D7DFE5;
    color: #BABABA;
}

.basket-order-on button{
    cursor: pointer;
    color: #FFFFFF;
    background: linear-gradient(to bottom, #FDC435, #F30330);
    background-size: auto 150%;
    background-position: 0 100%;
    transition: background-position 1s;
}

.basket-order-on button:hover{
    background-position: 0 0;
}
/* BASKET */