.card-favorites button.new-on{
    background: #F9C33C url(/images/icons/favorite-producton.png) no-repeat center !important;
}

.card-favorites button.new-off{
    background: #F30330 url(/images/icons/favorite-productoff.png) no-repeat center !important;
}

.price-basket .btn, .price-basket .link{
    display: none;
}